body {
	background:url("pictures/chris.jpg");
}

section {
	color:#2200FF;
	background-color:#32753F;
	padding:10px;
	border-radius:10px;
}
.table {
	margin-bottom:0px;
	font-weight:bold;
}
footer {
	color:#FF00CC;
	font-weight:bold;
	font-size:20px;
}
