body {
	background:url("pictures/chris.jpg");
	background-size:1700px 1700px;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
section {
	color:#37FF00;
	border:2px solid #31781E;
	padding:10px;
	border-radius:10px;
}
.table {
	margin-bottom:0px;
	font-weight:bold;
}
footer {
	margin-top:10px;
	color:#37FF00;
	font-weight:bold;
	font-size:20px;
}
.form-actions {
	background-color:transparent;
	border:none;
}